:root{
    --primary : #0bc4a5;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom: 1px solid #101010 ; */
}

.navbar-container{
    background-color: #0d6d5f;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -20px;
    height: 50px;
    /* border-bottom: 1px solid #616060 ; */
}

.navbar-container p{
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-btn{
    text-decoration: none;
    background-color: #ffffff;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 13px;
    color: #000000;
}

.nav-btn:hover{
    background-color: #ffffff;
    border: 1px solid var(--primary);
    color: #0d6d5f;
}

.menu-icon{
    display: none;
}
.side-navbar{
    width: 150px;
    height: 100dvh;
    background-color: #053b33;
    position: absolute;
    top: 0;
    right: 0;
}

.side-close{
    width: 100%;
    margin-top: 5px;
    /* background-color: blue; */
    text-align: right;
}

.side-bar-close{
    color: #ffffff;
    font-size: 10px;
    padding: 5px 7px;
    margin-right: 4px;
    /* background-color: coral; */
}

.side-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.side-nav-btn{
    text-decoration: none;
    font-size: 13px;
    padding: 10px;
    color: #ffffff;
    /* background-color: red; */
    width: 130px;
    text-align: center;
    border-bottom: 1px solid #6b6b6b;
}
.side-nav-btn:hover{
    background-color: #6b6b6b;
}
.side-home{
    border-top: 1px solid #6b6b6b;
}

@media screen and (max-width: 700px){
    .navbar-container p{
    font-size: 16px;
    margin: auto;
    }
}

@media screen and (max-width: 570px){
    .navbar-container p{
    font-size: 16px;
    margin: auto;
    }

    .navbar-container ul{
        display: none;
    }
}
