:root{
    --primary : #0bc4a5;
}

.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom: 1px solid #101010 ; */
}

.navbar-container{
    background-color: #0d6d5f;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: -20px;
    height: 50px;
    /* border-bottom: 1px solid #616060 ; */
}

.navbar-container p{
    color: #ffffff;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}

.navbar-container ul{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-btn{
    text-decoration: none;
    background-color: #ffffff;
    padding: 2px 8px;
    border-radius: 5px;
    font-size: 13px;
    color: #000000;
}

.nav-btn:hover{
    background-color: #ffffff;
    border: 1px solid var(--primary);
    color: #0d6d5f;
}

@media screen and (max-width: 700px){
    .navbar-container p{
    font-size: 16px;
    margin: auto;
    }
}

@media screen and (max-width: 570px){
    .navbar-container p{
    font-size: 16px;
    margin: auto;
    }

    .navbar-container ul{
        display: none;
    }
}
