:root{
    --primary : #0bc4a5;
}

/* -------------------Home Page------------------------- */

.home-container{
    margin: 60px 30px 5px 10px;
    background-color: var(--primary);
    display: flex;
    height: 279px;   
}

.home-desc{
    width: 50%;
}
.home-desc-small{
    display: none;
}

.home-desc p{
    margin-left: 20px;
}

.text-1{
    font-size: 23px;
    font-weight: 700;
}

.text-2{
    font-size: 22px;
    margin-top: -10px;
}

.text-3{
    font-size: 22px;
    margin-top: -10px;
    color: #520847;
}

.star-icon{
    color: goldenrod;
    font-size: 13px;
}

.home-image{
    width: 50%;
    height: 280px;
}

.home-image img{
    width: 450px;
}

.home-content{
    display: flex;
    margin-top: 5px;
    margin: 5px 8px 5px 10px;
}

.side-bar{
    background-color: var(--primary);
    padding: 10px;
}

.side-bar p{
    background-color: #077c68;
    color: #ffffff;
    text-align: center;
}

.side-bar ul{
    margin-left: -10px;
    padding: 0px 50px 0px 20px;
    width: 100%;
}

.side-bar ul li{
    list-style: none;
    font-size: 14px;   
}

.hotel-images{
    margin-left: 5px;
    display: flex;  
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel-images img{
    width: 49.5%;
    height: 200px;
    padding-bottom: 5px;
}

.footer{
    /* background-color: #077c68; */
    background-color: #0d6d5f;
    height: 100px;
    margin-top: 20px;
}

/* ---------------Login Page------------------------ */

.login{
    margin-top: 80px;
    /* height: 100dvh; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* width: 40%; */
}

.login-container{
    background-color: #0bc4a5;
    padding: 20px;
    width: 330px;
    border-radius: 5px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: start;

}

.login-form input{
    width: 97%;
    margin-top: 5px;
    padding: 3px 5px;
    font-size: 10px;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 3px;
}

.login-form label{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
}

.login-btn{
    width: 100%;
    margin-top: 20px;
    /* margin-left: -8%; */
    background-color: #077c68;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3px;
    height: 25px;
    padding: 3px 5px;
    font-weight: 600;
}

.login-btn:hover{
    background-color: #ffffff;
    color: #0bc4a5;
    cursor: grab;
}

.forget-password{
    font-size: 10px;
    text-decoration: none;
}

.forget-password:hover{
    text-decoration: underline;
}

.signup{
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    gap: 2%;
    font-size: 10px;
}

.signup-link{
    text-decoration: none;
}

.signup-link:hover{
    text-decoration: underline;
}

/* -----------------Contact page---------------------- */

.contact{
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-container{
    width: 350px;
    background-color: #0bc4a5;
    padding: 0px 30px 20px 30px;
    border-radius: 5px;
}

.contact-container h2{
    text-align: center;
}

.contact-form{
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-weight: 600;
}

.contact-form label{
    margin-top: 7px;
}

.contact-form label span{
    color: red;
}

.contact-form input{
    width: 100%;
    margin-top: 2px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 10px;
    border-radius: 2px;
}

.form-message{
    width: 100%;
    margin-top: 2px;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 10px;
    height: 100px;
    border-radius: 2px;
}

.submit-btn{
    width: 103%;
    margin-top: 15px;
    padding: 7px;
    background-color: #077c68;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 2px;
}

.room-card{
    display: flex;
}

.image-container img{
    width: 350px;
    height: 200px;
}

.room-details{
    margin-left: 10px;
    margin-top: -10px;
    padding-right: 15px;
    line-height: 15px;
}
.room-name{
    font-size: 20px;
    font-weight: 700;
}
.room-address{
    margin-top: -10px;
    font-size: 13px;
}
.room-rating{
    font-size: 10px;
}
.amenities{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: -20px;
    /* background-color: red; */
}
.amenities li{
    list-style: none;
    font-size: 10px;
}
.add-info{
    margin-top: -10px;
    font-size: 10px;
    color: #615f5f;
}
.view-btn, .book-btn{
    margin: 0px 5px 0px 5px;
    font-size: 12px;
}

.rooms{
    margin-top: 50px;
}

.room-container{
    display: flex;
}

.side-category{
    position: fixed;
    left: 0;
    background-color: #0bc4a5;
    height: 100dvh;
    width: 200px;
    text-align: center;
    z-index: -1;
}

.side-category p{
    font-weight: 600;
}

.side-category ul li{
    list-style: none;
    text-align: start;
}

.room-list-container{
    margin: 10px 0px 0px 210px;
    width: 100%;
}

.room-list-container hr{
    margin-top: 20px;
}

/* ----------------------Sign Up----------------------------------- */

.sign-up{
    width: 330px;
    align-items: center;
    margin: auto;
    margin-top: 60px;
}

.gender-option{
    display: flex;
    align-items: center;
}

.gender-category{
    font-size: 11px;
    margin-top: 15px;
    margin-right: 10px;
}

@media screen and (max-width: 700px){
    .text-1{
    font-size: 20px;
    }

    .text-2{
    font-size: 17px;
    }

    .text-3{
    font-size: 14px;
    }
}

@media screen and (max-width: 570px){
    .home-desc{
        display: none;
    }
    .home-desc-small{
        margin-top: 35px;
        display: block;
    }
    .home-container{
        margin: 50px 8px 5px 10px;
        background-color: var(--primary);
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        justify-content: center;   
    }
    .home-image{
        width: 100%;
        height: 280px;
    }
    .home-image img{
        width: 100%;
    }
    
    .hotel-images{
        flex-direction: column;
    }
    .hotel-images img{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .home-desc-small{
        margin-top: -10px;
    }
    .login-container{
        width: 280px;
    }
    .contact-container{
        width: 280px;
    }
}

@media screen and (max-width: 450px){
    .home-desc-small{
        margin-top: -35px;
    }
    .home-content{
        flex-direction: column;
    }
    .side-bar{
        display: flex;
        gap: 10px;
        justify-content: space-around;
        background-color: #077c68;
        color: #ffffff;
    }
    .side-bar p{
        background-color: var(--primary);
        color: #000000;
        text-align: center;
    }
    .hotel-images img{
        height: 250px;
    }
    .login-container{
        width: 250px;
    }
    .contact-container{
        width: 250px;
    }
}

@media screen and (max-width: 380px){
    .home-desc-small{
        margin-top: -80px;
    }
}